*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color:#f8f5f2;
    color:#333;
    line-height:1.6;
}

header{
    background-color:#8b5e3c;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background-color:#d9b99b;
    padding:15px;
    text-align:center;
}

nav a{
    color:black;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:white;
}

main{
    padding:30px;
}

footer{
    background-color:#8b5e3c;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}

.menu-container{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:30px;
}

.card{
    background:white;
    width:250px;
    border:1px solid #ccc;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card-content{
    padding:15px;
}

.card-content h3{
    margin-bottom:10px;
}

.price{
    color:#8b5e3c;
    font-weight:bold;
}

@media (max-width:768px){

    nav a{
        display:block;
        margin:10px 0;
    }

    .menu-container{
        flex-direction:column;
        align-items:center;
    }

    .card{
        width:90%;
    }

    body{
        font-size:14px;
    }
}

.about-page {
    padding: 40px;
}

.about-hero {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.about-hero img {
    width: 450px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #5c3b1e;
}

.about-text p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.mission-section {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.mission-box {
    background-color: #f7f1ea;
    padding: 30px;
    border-radius: 12px;
    flex: 1;
    min-width: 250px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.mission-box h3 {
    margin-bottom: 15px;
    color: #7a4b25;
}

.mission-box p {
    line-height: 1.6;
}

.hero{
    height: 500px;
    background-image: url("../images/hero bakery.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 20px;
}

.hero-text{
    background-color: rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 12px;
}

.hero-text h2{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 20px;
    margin-bottom: 25px;
}

.hero-button{
    background-color: #d9b08c;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.hero-button:hover{
    background-color: white;
}

.welcome-section{
    display: flex;
    align-items: center;
    gap: 40px;

    padding: 60px 40px;
    flex-wrap: wrap;
}

.welcome-text{
    flex: 1;
}

.welcome-text h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #5c3b1e;
}

.welcome-text p{
    line-height: 1.8;
    margin-bottom: 15px;
    font-size: 18px;
}

.welcome-image img{
    width: 450px;
    border-radius: 12px;
}

.featured-products{
    padding: 40px;
    text-align: center;
}

.featured-products h2{
    font-size: 40px;
    margin-bottom: 30px;
    color: #5c3b1e;
}

.enquiry-page{
    padding: 50px 40px;
}

.enquiry-intro{
    text-align: center;
    margin-bottom: 40px;
}

.enquiry-intro h2{
    font-size: 42px;
    color: #5c3b1e;
    margin-bottom: 15px;
}

.enquiry-intro p{
    font-size: 18px;
    line-height: 1.7;
}

.enquiry-container{
    display: flex;
    justify-content: center;
}

.enquiry-form{
    width: 100%;
    max-width: 700px;

    background-color: white;
    padding: 40px;

    border-radius: 12px;

    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.enquiry-form label{
    display: block;

    margin-top: 20px;
    margin-bottom: 8px;

    font-weight: bold;
}

.enquiry-form input,
.enquiry-form textarea,
.enquiry-form select{

    width: 100%;

    padding: 14px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 15px;
}

.enquiry-form textarea{
    resize: vertical;
}

.checkbox-section{
    display: flex;
    align-items: center;

    gap: 10px;

    margin-top: 20px;
}

.enquiry-form button{

    margin-top: 30px;

    width: 100%;

    padding: 16px;

    background-color: #7a4b25;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;
}

.enquiry-form button:hover{
    background-color: #5c3b1e;
}